.featured {
    background-color: #cdeac0;
    text-align: center;
    padding: 40px 20px;
  }
  
  .featured h3 {
    font-size: 24px;
    margin-bottom: 50px;
    color: #22543d;
  }
  
  .items {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .item {
    background: #e6f4e9;
    padding: 20px;
    font-size: 40px;
    border-radius: 8px;
  }
  