.grocery-container {
  background-color: #fffef0;
  padding: 2rem;
  margin: 2rem auto;
  width: 90%;
  max-width: 800px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.grocery-container h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #2e7d32;
  margin-bottom: 1.5rem;
}


.grocery-input-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.grocery-input-section input {
  padding: 8px 12px;
  width: 60%;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.grocery-input-section input:focus {
  box-shadow: 0 0 0 3px #ccead6;
  transform: scale(1.02);
  outline: none;
}

.grocery-input-section button {
  padding: 8px 14px;
  border: none;
  background-color: #006400;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.grocery-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.tag-card {
  display: inline-flex;
  align-items: center;
  background-color: #e7fce8;
  border: 1px solid #a3d9b1;
  border-radius: 20px;
  padding: 6px 12px;
  font-weight: 500;
  color: #1c4f3f;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: all 0.2s ease;
}

.tag-card:hover {
  transform: scale(1.03);
}

.remove-btn {
  margin-left: 8px;
  color: #e60023;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.remove-btn:hover {
  color: #ff3b30;
}

.clear-btn {
  margin-top: 20px;
  background-color: #ff3a30fd;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.clear-btn:hover {
  background-color: #de223f;
}

.suggestion-dropdown {
  position: absolute;
  top: 100%; /* drops it directly below input */
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 4px;
  list-style: none;
  padding: 0;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  animation: fadeIn 0.2s ease-in-out;
}

.suggestion-dropdown li {
  padding: 10px 14px;
  cursor: pointer;
  font-size: 15px;
  /* transition: background 0.2s ease; */
}

.suggestion-dropdown li:hover {
  background-color: #f0f0f0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.input-wrapper {
  position: relative;
  width: 60%;
  margin-bottom: 40px;
}

.input-wrapper:has(.suggestion-dropdown) {
  margin-bottom: 160px;
}

.purchased {
  opacity: 0.6;
  color: gray;
}

