.grocery-container {
  background-color: #fff8e1;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.grocery-input-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.grocery-input-section input {
  padding: 8px 12px;
  width: 60%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.grocery-input-section button {
  padding: 8px 14px;
  border: none;
  background-color: #006400;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.grocery-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.tag-card {
  display: inline-flex;
  align-items: center;
  background-color: #e7fce8;
  border: 1px solid #a3d9b1;
  border-radius: 20px;
  padding: 6px 12px;
  font-weight: 500;
  color: #1c4f3f;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  transition: all 0.2s ease;
}

.tag-card:hover {
  transform: scale(1.03);
}

.remove-btn {
  margin-left: 8px;
  color: #e60023;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.remove-btn:hover {
  color: #ff3b30;
}

.clear-btn {
  margin-top: 20px;
  background-color: #ff3a30fd;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease;
}

.clear-btn:hover {
  background-color: #de223f;
}

.grocery-container h2{
  color: #006400;
}
